<h3>{{model.name}}</h3>
{{new-listing category=model saveListing2="saveListing3"}}<!--we say category=model so when we save a listing, we know what category that listing belongs to. -->
{{listing-tile category=model deleteListing2="deleteListing3" updateListing4="updateListing5"}}
{{outlet}}
